*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  padding:40px 20px;

  background:linear-gradient(135deg,#0f172a,#1e293b);
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:white;

  width:400px;

  padding:50px;

  border-radius:20px;

  text-align:center;

  box-shadow:0 10px 40px rgba(0,0,0,0.3);
}

.card h1{
  color:#0f172a;
  margin-bottom:20px;
}

.card p{
  color:#64748b;
  margin-bottom:30px;
}

.buttons{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.btn{
  background:#2563eb;

  color:white;

  text-decoration:none;

  padding:15px;

  border-radius:10px;

  transition: all 0.3s ease;

  font-weight:bold;
}

.btn:hover{

  background:#1d4ed8;

  transform:scale(1.03);

  box-shadow:0 10px 20px rgba(37,99,235,0.3);
}

.card,
.form-container{

  animation:fadeIn 0.5s ease;
}

@keyframes fadeIn{

  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

input:focus,
select:focus{

  outline:none;

  border:1px solid #2563eb;

  box-shadow:0 0 10px rgba(37,99,235,0.3);
}

button{

  transition: all 0.3s ease;
}

button:hover{

  transform:translateY(-2px);

  box-shadow:0 10px 20px rgba(37,99,235,0.3);
}

.subtitle{

  display:block;

  margin-top:-10px;

  margin-bottom:30px;

  color:#64748b;

  font-size:14px;
}

/* =========================
   WhatsApp Floating Button
========================= */

.whatsapp-float {

  position: fixed;

  width: 60px;
  height: 60px;

  bottom: 25px;
  right: 25px;

  z-index: 1000;

  border-radius: 50%;

  display: flex;

  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

  transition: all 0.3s ease;
}

.whatsapp-float:hover {

  transform: scale(1.1);
}

.whatsapp-float img {

  width: 60px;
  height: 60px;
}